@model List<Edukator.EntityLayer.Concrete.Skill>
<section class="w3l-servicesblock w3l-servicesblock1 py-5" id="progress">
    <div class="container py-lg-5 py-md-4 py-2">
        <div class="row">
            <div class="col-lg-6 align-self pr-lg-4">
                @foreach (var item in Model)
                {
                    <div class="progress-info info1">
                        <h6 class="progress-tittle">@item.Talent </h6>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped" role="progressbar" style="width: @item.Value" aria-valuenow="@item.Value"
                                 aria-valuemin="0" aria-valuemax="100">
                            </div>
                        </div>
                    </div>
                }



            </div>
            <div class="col-lg-6 mt-lg-0 mt-5 pl-lg-5">
                <h5 class="title-subw3hny mb-1">Güncel Kurslarımız</h5>
                @foreach (var item in Model)
                {
                    <h3 class="title-w3l">@item.Title</h3>
                    <p class="mt-md-4 mt-3">
                        @item.Description
                    </p>
                }


            </div>
        </div>
    </div>
</section>